@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 400;
	src: url(Fonts/Cairo-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 700;
	src: url(Fonts/Cairo-Bold.ttf) format('truetype');
}
